/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
.hero {
  height: 100vh;
}
canvas {
  display: block;
  /* position: fixed; */ /* REMOVE this line to keep hexagons to first section only */
  position: relative;
  top: 0;
} 
/* ---- particles.js container ---- */
#particles-js {
  position: relative;
  width: 100%;
  /*height: 100vh; */
  /* background-color: #3f5efb; */
  /* background-color: #fc466b; */
  /* background-image: url("http://hackjnu.in/images/pinkbluebg.jpg"); */
  /*background-image: url("./assets/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;*/

  /* OPTIONS */
  /* option 1 - old */
  /* background: #a8c0ff; 
  background: -webkit-linear-gradient(to bottom right, #3f2b96, #a8c0ff);
  background: linear-gradient(to bottom right, #3f5efb, #fc466b);  */
  /* option 2 */
  /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
  /* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
  /* background-image: linear-gradient(to top, #235c3d 0%, #f9d423 100%); */
  background-image: linear-gradient(to left, #f9d423 0%, #235c3d 100%);
  /* background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%); */
} 

/* ---- stats.js ---- */
/*.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}*/